body {

    background-color: #eceef0;
  
  }
  .card-header{
    background: #5f708f;
  }
  
  .card {
  
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background: #a9d2ee;
    transform: matrix();
  
  }
  
  
  
  .card-header {
  
    background-color: #f8f9fa;
  
    border-bottom: 2px solid #dee2e6;
  
  }
  
  
  
  .table {
  
    margin-bottom: 0;
  
  }
  
  
  
  .btn {
  
    min-width: 400px;
    margin: 10px;
    padding: 15px;
    background-color: teal;
  
  }
  .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #3b0d87;
    border-color: var(--bs-btn-hover-border-color);
}

a.btn.btn-primary {
    font-size: 20px;
}
  
  .text-center .mt-3{
    background-color: aquamarine;
  }