body {

    background-color: #f8f9fa;
  
  }
  .card-header{
    background: #6495ED;
  }
  
  .card {
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #6495ED;
    transform: matrix();
  
  }
  
  
  
  .card-header {
  
    background-color: #f8f9fa;
  
    border-bottom: 2px solid #dee2e6;
  
  }
  
  
  
  .table {
  
    margin-bottom: 0;
  
  }
  
  
  
  .btn {
  
    min-width: 400px;
    margin: 10px;
    padding: 15px;
  
  }
 
  #new{
    margin: 20px;
  }